* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron{


  background-color: #d4edda!important;
  border: #c3e6cb solid 1px!important;
  border-radius: .3rem!important;
  color: #252926!important;
  font-family:  sans-serif;

}

form {
  margin: 20px 0;
  background-color: rgb(70, 68, 68);
  padding: 100px 150px;
  border-radius: 5px;
}

form .input-block {
  margin-bottom: 40px;
}

form .input-block label {
  font-size: 14px;
  color: rgb(0, 0, 0);
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color:  #000000;
  border-radius: 2px;
  border: 1px solid #000000;
  outline-color: #000000;
}

form .btn-cadastro {
  display: block;
  min-width: 120px;
  border: none;
  background-color: #000000;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 7px;
}
.filde {
  padding: 10px;
  margin-bottom: 15px;border: 1px solid #DDD;
  border-radius: spx;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
textarea{
  height: 200px;
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #000000;
  border-radius: 2px;
  border: 1px solid #ccddef;
  outline-color: #030303;
}

/* APARIÇÃO DO FORM */

form {
  animation-name: fade;
  animation-duration: 500ms;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}




.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;

}