* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #6bf782;
  font-family: Roboto, Arial, sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 20px 0;
  color: white;
}

form {
  margin: 20px 0;
  background-color: white;
  padding: 100px 150px;
  border-radius: 5px;
}

form .input-block {
  margin-bottom: 40px;
}

form .input-block label {
  font-size: 14px;
  color: darkslateblue;
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color:  #7159c1;
  border-radius: 2px;
  border: 1px solid #ccddef;
  outline-color: #00ff22;
}

form .btn-cadastro {
  display: block;
  min-width: 120px;
  border: none;
  background-color: #00ff0d;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 7px;
}
.filde {
  padding: 10px;
  margin-bottom: 15px;border: 1px solid #DDD;
  border-radius: spx;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
textarea{
  height: 200px;
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #000000;
  border-radius: 2px;
  border: 1px solid #ccddef;
  outline-color: #15ff00;
}

/* APARIÇÃO DO FORM */

form {
  animation-name: fade;
  animation-duration: 500ms;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}




.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;

}